
.homepage__title {
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #00A98C;
    margin: 18% 0% 0% 10%;
}

.homepage__body {
    font-weight: 400;
    text-align: left;
    line-height: 29px;
    margin: 5% 0% 0% 10%;
}

.homepage__image {
    width: 120%;
    margin: 13% 0% 0% -20%;
}

.proceed__btn {
    background: #00A98C;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    padding: 1% 8% 1% 8%;
    margin: 5% 0% 0% -48%;
}

.floating {  
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0, 30px); }
    to   { transform: translate(0, 0px); }    
}

/** Form **/
.form__title {
    text-align: left;
    font-weight: 700;
    font-size: 34px;
    line-height: 35px;
    color: #00A98C;
    margin: 11% 0% 3% 7%;
}

.form__content {
    margin-top: 7% !important;
    margin-left: 5%;
}

.form__agreement {
    text-align: left;
    margin-top: 10%;
    margin: 10% 0% 3% 7%;
}

.input__text_1 {
    width: 240px;
    padding: 2% 0% 2% 4%;
    /* margin: 5% 0% 0% 20%; */
    border: 1px solid #000000;
    border-radius: 5px;
}

.input__text_2 {
    width: 240px;
    padding: 2% 0% 2% 4%;
    /* margin: 5% 0% 0% 2%; */
    border: 1px solid #000000;
    border-radius: 5px;
}

.input__text_1:focus, .input__text_2:focus, select:focus {
    outline: none !important;
    border:1px solid #00A98C !important;
    box-shadow: 0 0 5px #00a98d91 !important;
}

#standard__select {
    width: 240px;
    padding: 2% 0% 2% 4%;
    margin-top: 8.2% !important;
    border-radius: 5px;
    color: grey;
}

.start__btn {
    background: #00A98C;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    padding: 1% 10% 1% 10%;
    margin: 2% 0% 0% -57%;
}


